@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Arvo";
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.createchange input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
  margin: 8px 0 4px;
}

.baetavidverkefni :nth-child(1) {
  text-align: center;
}

.verkefni input {
  margin-top: 4px;
}

.verkefni {
  border-bottom: 1px solid #808080;
  padding-bottom: 2rem;
}

.hidden {
  display: none;
}

.wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 4rem auto;
  max-width: 1050px;
}

header {
  grid-column: 2/span 2;
}

main {
  display: grid;
  gap: 20px;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}

.valstika {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
}
.valstika > div {
  margin-bottom: 2rem;
}

.sorting-container {
  margin-bottom: 2rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.content {
  grid-column: 2/span 2;
  width: 100%;
}

.verkefnalisti {
  display: flex;
  flex-direction: column;
}

.verkefni {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.verkefni input {
  align-self: flex-start;
  width: 3%;
}

.verkefni-container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.verkefnisflokkun {
  display: flex;
  justify-content: space-between;
}

.taggar {
  flex: 1;
}
.taggar .tag {
  margin: 0 0.1rem;
}

.task-category {
  align-self: end;
}

.valfjoldi {
  color: #cfcfcf;
}

.verkefnistitill {
  margin-bottom: 1rem;
}

.verkefnislysing {
  font-style: italic;
  margin-bottom: 1rem;
}

label {
  font-size: 1.2rem;
}

.button {
  background-color: #c5c5c5;
  color: #000;
  display: inline-block;
  font-size: 16px;
  margin-right: 0.5rem;
  margin-top: 1rem;
  padding: 0.4rem;
  text-align: center;
  text-decoration: none;
}

.tag {
  background-color: #dad590;
  border-radius: 5px;
  padding: 0.4rem;
}

.round {
  border: 1px solid #000;
  border-radius: 60%;
  height: 25px;
  line-height: 4px;
  width: 25px;
}

.menu-item,
.verkefnistitill,
.checkbox,
.baetavidverkefni {
  cursor: pointer;
}

.checkbox {
  border-radius: 50px;
}

.menu-item {
  transition: background ease-in-out 200ms;
}
.menu-item:hover {
  background: #a7a7a7;
}
