@import 'variables';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

:root {
  // font-family: $font-family;
}

ul {
  list-style: none;
}

input, textarea {
  width: 100%;
}

.verkefni {
  // border-bottom: 1px solid gray;
}

.baetavidverkefni :nth-child(1) {
  text-align: center;
 }

.verkefni input {
  margin: 8px 0;
}

.verkefni .verkefnisinfo {
  padding: 5px;
  border-bottom: 1px solid gray;
}
