@import 'variables';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  // font-family: $font-family;
}

ul {
  list-style: none;
}

input, textarea {
  width: 100%;
}

.verkefni {
  border-bottom: 1px solid gray;
}

.tag {
  background-color: darkkhaki;
  border-radius: 5px;
  padding: 2px;
}
