.button {
    background-color: #c5c5c5;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $default-font-size;
    margin: 10px 0 0 0;
  }

.tag {
  background-color: darkkhaki;
  border-radius: 5px;
  padding: 2px; 
}
  
.round {
    border: 1px solid black;
    border-radius: 60%;
    padding: 2px 5px;
}